# Carpetas de documentación interna
docs/

# Archivos temporales
*.tmp
*.bak

# Archivos del sistema
.DS_Store
Thumbs.db

# Seguridad y Entorno
.env
.env.local
supabase-config.js
test_course.json
courses_test.json
profiles_test.json
lessons_test.json
